:root {
    --key-size: 7.5vmin;
    --key-margin: 0.25vmin;
    --key-font-size: 3.5vmin;
    --tile-size: 9vmin;
    --tile-margin: 0.5vmin;
    --tile-font-size: 5.8vmin;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button#new {
    position: absolute;
    right: 2vmin;
    margin: var(--tile-margin);
    font-size: calc(var(--key-font-size)*0.6);
    height: var(--tile-size);
    width: var(--tile-size);
}

#keyboard {
    /* border: 1px solid gray; */
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}

#keyboard > .row {
    display: flex;
    justify-content: center;
}

button {
    margin: var(--key-margin);
    width: var(--key-size);
    height: var(--key-size);
    font-size: var(--key-font-size);
    /* font-family: "DejaVu Sans", sans-serif; */
    border: none;
    padding: 0;
}

.delete-key, .enter-key {
    width: calc(var(--key-size) * 2 + var(--key-margin)*2);
    font-size: calc(var(--key-font-size) * 0.8);
}

#board {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.tile-row {
    display: flex;
    justify-content: center;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    margin: var(--tile-margin);
    background-color: rgb(37, 37, 37);
    font-size: var(--tile-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-color="unused"] {
    background-color: rgb(57, 60, 61);
}
[data-color="gray"] {
    background-color: rgb(43, 36, 49);
}
button[data-color="gray"] {
    color:rgb(136, 114, 156);
}
[data-color="yellow"] {
    background-color: rgb(128, 108, 43);
}
[data-color="green"] {
    background-color: rgb(39, 134, 39);
}

.tile.current {
    background-color: rgb(53, 53, 53);
    box-shadow: rgb(182, 182, 182) 0 0 0 var(--tile-margin);
}

@media (max-aspect-ratio: 90/100) {
    button {
        height: calc(var(--key-size)*1.5);
        font-size: calc(var(--key-font-size)*1.15);
    }
    .delete-key, .enter-key {
        font-size: calc(var(--key-font-size) * 0.8*1.15);
    }
    .tile {
        width: calc(var(--tile-size)*1.05);
        height: calc(var(--tile-size)*1.05);
        margin: calc(var(--tile-margin)*1.05);
    }
    button#new {
        font-size: calc(var(--key-font-size)*0.6*1.05);
    }
}
@media (max-aspect-ratio: 75/100) {
    button {
        height: calc(var(--key-size)*2);
        font-size: calc(var(--key-font-size)*1.35);
    }
    .delete-key, .enter-key {
        font-size: calc(var(--key-font-size) * 0.8*1.35);
    }
    .tile, button#new {
        width: calc(var(--tile-size)*1.2);
        height: calc(var(--tile-size)*1.2);
        margin: calc(var(--tile-margin)*1.2);
    }
    .tile {
        font-size: calc(var(--tile-font-size)*1.2);
    }
    button#new {
        font-size: calc(var(--key-font-size)*0.6*1.2);
    }
}
@media (max-aspect-ratio: 65/100) {
    .tile, button#new {
        width: calc(var(--tile-size)*1.3);
        height: calc(var(--tile-size)*1.3);
        margin: calc(var(--tile-margin)*1.3);
    }
    .tile {
        font-size: calc(var(--tile-font-size)*1.3);
    }
    button#new {
        font-size: calc(var(--key-font-size)*0.6*1.3);
    }
}